! miyalys: mostly copied from:
! anrxc X application resource database
! Source: http://sysphere.org/~anrxc/

!{{{ XFT
!
  Xft.autohint: 0
  Xft.lcdfilter: lcddefault
  Xft.hintstyle: hintslight
! Xft.hintstyle: hintfull
  Xft.hinting: 1
  Xft.antialias: 1
  Xft.rgba: rgb
! Xft.dpi:       96
!}}}

!{{{ URXVT
!
! General
  URxvt.termName:           rxvt-unicode-256color
  URxvt.loginShell:         true
  URxvt.scrollBar:         false
  URxvt.secondaryScroll:    true
  URxvt.saveLines:         65535
  URxvt.cursorBlink:       false
! urxvt.cursorUnderline:   true
  URxvt.urgentOnBell:       true
! urxvt.override-redirect:false
! urxvt.borderLess:       false
! urxvt.internalBorder:       0
! urxvt.externalBorder:       0
  
! Extensions
  !URxvt.perl-lib:        /usr/lib/urxvt/perl/
  URxvt.perl-ext-common: default,matcher
  !urxvt.perl-ext-common: default,matcher,searchable-scrollback
  URxvt.url-launcher:     /usr/bin/firefox
  URxvt.matcher.button:  1
! Catch ugly URLs
  URxvt.cutchars:        '"'()*<>[]{|}

! Appearance
! urxvt*font:         -misc-inconsolata-medium-*-*-*-0-*-*-*-*-*-iso10646-*
! urxvt*boldFont:     -misc-inconsolata-bold-*-*-*-0-*-*-*-*-*-iso10646-*
! urxvt*font:         xft:Inconsolata Nerd Font:size=11:antialias=true
  urxvt*font:         xft:Inconsolata:size=11:antialias=true
  urxvt*boldFont:     xft:Inconsolata:size=11:bold:antialias=true
  
! Cursor
  URxvt.cursorColor: #DCDCCC
! URLs
  URxvt..colorUL:    #ffffff
  
! Pseudo Transparency
  !urxvt.shading:    50
  !urxvt.transparent:true
!}}}

!{{{ st

 st*.background: #181818
! st*.background: #111111
! For some reason these font specifications dont work properly in the terminal, and the result is hideous the the font itself is nice. It probably works better in a gui vim?
! st*font:         xft:Fira Mono:size=10:antialias=true
!  st*boldFont:     xft:Fira Mono:size=10:bold:antialias=true

!}}}

!{{{ Terminal colors

! See more color schemes here:
! https://web.archive.org/web/20090912095618/http://phraktured.net/terminal-colors/terminal%20theme.tags.html

! Colors from molokai:
! pink: #F92672
! purple: #AE81FF
! lime: #A6E22E
!
! Delete URxvt in front to make it apply to other terms, like st as well. looks ugly in st though, for some reason, so thats why I added urxvt in front
!
  URxvt*.background:  #1f1f1f
  URxvt*.foreground:  #dcdccc

! Plaintext color
  URxvt*color7:     white
! Directories
  URxvt*color12:    #F92672
! Used as the font BACKGROUND color for something like 777 permissions (like every single file on the data partition currently)
  URxvt*color2:     #A6E22E
! Used as the font TEXT color for something like 777 permissions (like every single file on the data partition currently)
  URxvt*color4:     blue1
! Files marked executable + PS1 arrow
  URxvt*color10:    #AE81FF
! Symlinks + PS1 path
  URxvt*color14:    grey93

  URxvt*color0:     black
  URxvt*color1:     orange1
  URxvt*color3:     yellow1
  URxvt*color5:     magenta1
!  URxvt*color6:     rgb:cyan1
  URxvt*color6:     cyan1
  URxvt*color8:     rgb:ff/d3/9b
  URxvt*color9:     rgb:ff/82/47
  URxvt*color11:    rgb:87/ce/fa
  URxvt*color13:    grey93
  URxvt*color15:    grey93
!}}}

!{{{ XCLOCK
  xclock*update:     1
  xclock*Mode:       analog
  xclock*Background: #3F3F3F
  xclock*Border:     #3F3F3F
  xclock*Foreground: #F0DFAF
  xclock*geometry:   120x120+1160+15
!}}}

!{{{ XMESSAGE
! Xmessage*font:                  -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
  Xmessage*background:            #3F3F3F
  Xmessage*foreground:            #F0DFAF
  Xmessage*form.*.shapeStyle:     rectangle
  Xmessage*Scrollbar.width:       1
  Xmessage*Scrollbar.borderWidth: 0
  !Xmessage.form.message.Scroll:  WhenNeeded
  Xmessage*Buttons:               Quit
  Xmessage*defaultButton:         Quit
  Xmessage*geometry:              300x150
  Xmessage*center:                1
!}}}
